<wm-page data-ng-controller="testpagePageController" pagetitle="Testpage" name="page1">
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-grid readonlygrid="true" dataset="bind:Variables.OdataInvoke.dataSet.value" navigation="Basic" name="grid1" gridfirstrowselect="true">
                <wm-grid-column binding="name" caption="Name" type="string" readonly="true" pcdisplay="true" mobiledisplay="true" show="true"></wm-grid-column>
                <wm-grid-column binding="kind" caption="Kind" type="string" readonly="true" pcdisplay="true" mobiledisplay="true" show="true"></wm-grid-column>
                <wm-grid-column binding="url" caption="Url" type="string" readonly="true" pcdisplay="true" mobiledisplay="true" show="true"></wm-grid-column>
            </wm-grid>
            <wm-label name="label5" caption="OData Versoin 2" fontsize="15"></wm-label>
            <wm-grid readonlygrid="true" dataset="bind:Variables.Odataversion2Invoke.dataSet.d.results" navigation="Basic" name="grid2">
            </wm-grid>
            <wm-label name="label6" caption="OData Versoin 3" fontsize="15"></wm-label>
            <wm-grid readonlygrid="true" dataset="bind:Variables.Odataversion3Invoke.dataSet.value" navigation="Basic" name="grid3">
            </wm-grid>
            <wm-label name="label7" caption="OData Versoin 4" fontsize="15"></wm-label>
            <wm-grid readonlygrid="true" dataset="bind:Variables.Odataversion4Invoke.dataSet.value" navigation="Basic" name="grid4">
            </wm-grid>
        </wm-page-content>
    </wm-content>
</wm-page>