<wm-page data-ng-controller="MainPageController" name="mainpage" pagetitle="Main">
    <wm-header content="header" name="header" height="auto"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content">
        <wm-page-content columnwidth="12" name="mainContent" padding="unset 15px">
            <wm-tile name="tile1" class="bordered-tile">
                <wm-tabs name="tabs1">
                    <wm-tabpane name="tabpane1"></wm-tabpane>
                </wm-tabs>
            </wm-tile>
            <wm-anchor name="anchor1" iconclass="wi wi-fast-play-forward" caption="" class="black-link" fontsize="2" fontunit="em"></wm-anchor>
            <wm-tile name="tile13">
                <wm-layoutgrid name="layoutgrid4">
                    <wm-gridrow name="gridrow10">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn28">
                            <wm-tile name="tile14"></wm-tile>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow12">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn34">
                            <wm-tile name="tile15"></wm-tile>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn36">
                            <wm-tile name="tile16"></wm-tile>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
            </wm-tile>
        </wm-page-content>
    </wm-content>
    <wm-footer name="footer" content="footer"></wm-footer>
</wm-page>